@model IEnumerable<CalendarSystem.Domain.Month>

@{
    ViewBag.Title = "GetMonth";
}

<h2>GetMonth</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "GetAppointment", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-link" })
            </td>

        </tr>
    }

</table>
